{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "vllm serve debug",
            "type": "debugpy",
            "request": "launch",
            "module": "vllm.entrypoints.cli.main",
            "args": [
                "serve",
                "/home/weight/Qwen3.5-35B-A3B/",
                "--host", "0.0.0.0",
                "--port", "2724",
                "--served-model-name", "model",
                "--data-parallel-size", "1",
                "--tensor-parallel-size", "1",
                "--pipeline-parallel-size", "1",
                "--enable-expert-parallel",
                "--prefill-context-parallel-size", "1",
                "--decode-context-parallel-size", "1",
                "--max-model-len", "131072",
                "--max-num-seqs", "128",
                "--max-num-batched-tokens", "32768",
                "--gpu-memory-utilization", "0.8",
                "--enforce-eager",
                "--no-enable-prefix-caching",
                "--quantization", "ascend",
                "--safetensors-load-strategy", "prefetch",
                "--additional-config", "{\"enable_fused_mc2\": 0, \"enable_flashcomm1\": false, \"enable_balance_scheduling\": false}"
            ],
            "env": {
                "HCCL_IF_IP": "CHANGE_ME_LOCAL_IP",
                "HCCL_SOCKET_IFNAME": "CHANGE_ME_NIC_NAME",
                "GLOO_SOCKET_IFNAME": "CHANGE_ME_NIC_NAME",
                "TP_SOCKET_IFNAME": "CHANGE_ME_NIC_NAME",
                "HCCL_OP_EXPANSION_MODE": "AIV",
                "HCCL_BUFFSIZE": "1024",
                "PYTORCH_NPU_ALLOC_CONF": "expandable_segments:True",
                "OMP_PROC_BIND": "false",
                "OMP_NUM_THREADS": "1",
                "TASK_QUEUE_ENABLE": "1",
                "ASCEND_RT_VISIBLE_DEVICES": "0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15"
            },
            "subProcess": true,
            "justMyCode": false,
            "console": "integratedTerminal",
            "cwd": "${workspaceFolder:vllm}"
        }
    ]
}
